@import '../Color';
@import './project_mixin';
@import '../Fonts';
.project_detail{
    display: grid;
    grid-template-columns: 1fr 840px 1fr;
    .banner{
        position: absolute;
        .slide_case{
            @include slide_case;
            justify-content:flex-end;
            align-items: flex-end;
            animation: case_slide_in 1s ease-in-out forwards;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            img{
                position: fixed;
                right:calc((100vw - 1000px)/2);
                top:80px;
                width:auto;
                height: 480px;
            }
            @keyframes case_slide_in {
                from{
                    right:-55%;
                }
                to{
                    right:0;
                }
            }
        }
    }
}
.drip{
    .overview,.development,.users,.mockup{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-top: 120px;
        background-color: rgba($color: white, $alpha: 0.72);
    }
    .overview{
        height: 400px;
        margin-top: 60px;
        display: grid;
        grid-template-columns: 1fr 840px 1fr;
        grid-template-rows: 80px 1fr 80px;

        .text_area{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            h3{
                color:$color-little;
                line-height: 24px;
            }
            img{
                margin-left: 40px;
                width:160px;
                height:160px;
            }
            
        }
    }
    .development{
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 840px 1fr;
        grid-column-gap: 40px;
        grid-template-rows: 80px 1fr 80px;
        margin-top: 0px;
        .text_area{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            display: flex;
            justify-content: flex-start;
            align-items:flex-start;
            .text{
                width:600px;
                h2,p{
                    color:  $color-little;
                }
                h2{
                    margin-bottom: 24px;
                }
                p{
                    width:320px;
                }
            }
            img{
                width:360px;
                height: auto;
            }
        }
        
    }
    .users{
        display: grid;
        grid-template-columns: 1fr 840px 1fr;
        grid-template-rows:auto auto;
        padding-top:80px;
        // height:600px;
        .title_area,.text_area{
            grid-column-start: 2;
            grid-column-end: 3;
           h2,h3,p{
                color:$color-little;
           }
        }
        .title_area{
            margin-bottom: 40px;
               h2{
                   margin-bottom: 32px;
               }
               ul{
                   display: flex;
                   li{
                       cursor: cell;
                       margin-right: 24px;
                       position: relative;
                       display: flex;
                       justify-content: center;
                       align-items: center;
                       transition: 0.2s ease-in-out;
                       h4{
                           padding:8px 24px;
                           color:rgba($color: white, $alpha: 0.4);
                           background-color: rgba($color: $color-pink, $alpha: 0.4);
                            transition: 0.2s ease-in-out;
                       }
                       &:hover{
                            h4{
                            color:rgba($color: white, $alpha: 1);
                            background-color: rgba($color: $color-pink, $alpha: 1);
                            }
                       }
                       &::before,&::after{
                           content:'';
                           position: absolute;
                           width:0px;
                           height:0px;
                           border-bottom: 0px solid $color-little;
                           border-top: 0px solid $color-little;
                           transition: 0.2s steps(10);
                       }
                       &::before{
                           border-left: 0px solid $color-little;
                           left:-8px;
                       }
                       &::after{
                           border-right: 0px solid $color-little;
                           right:-8px;
                       }
                   }
                   .active{
                       &::before,&::after{
                           content:'';
                           position: absolute;
                           width:8px;
                           height:calc(100% + 12px);
                           border-bottom: 1px solid $color-little;
                           border-top: 1px solid $color-little;
                       }
                       &::before{
                           border-left: 1px solid $color-little;
                           left:-8px;
                       }
                       &::after{
                           border-right: 1px solid $color-little;
                           right:-8px;
                       }
                       h4{
                           color:rgba($color: white, $alpha: 1);
                            background-color: rgba($color: $color-pink, $alpha: 1);
                       }
                   }
               }
           }
        .text_area{
            display: flex;
            .left{
                position: relative;
                display: flex;
                align-items: flex-end;
                img{
                    height: 400px;
                    width:auto;
                }
                ul{
                    position: absolute;
                    bottom:24px;
                    left:160px;
                    width:320px;
                    li{
                        width:320px;
                        padding:20px;
                    }
                    .story{
                        height:200px;
                        margin-bottom: 8px;
                        clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%);
                        background-color: rgba($color: white, $alpha: 0.3);
                        backdrop-filter: blur(10px);
                        
                        p{
                            color:$color-little;
                        }
                    }
                    .title{
                        background-color: rgba($color: $color-purple, $alpha: 0.72);
                        backdrop-filter: blur(10px);
                        &::before{
                            content:'';
                            width:4px;
                            height: 50px;
                            background-color: $color-pink;
                            top:0;
                            left:-10px;
                            position: absolute;
                        }
                        h3{
                            margin-bottom: 10px;
                            color:white;
                        }
                        p{
                            color:white;
                        }
                    }
                }
            }
            .right{
                width:540px;
                display: flex;
                justify-content:flex-end;
                align-items: flex-end;
                margin-left: 40px;
                img{
                    height:auto;
                    width:300px;
                }
            }
        }
    
    }
    .mockup{
        display: grid;
        grid-template-columns: 1fr 840px 1fr;
        grid-template-rows: auto;
        padding:80px 0;
        height:6700px;
        .title_area,.text_area{
            grid-column-start: 2;
            grid-column-end: 3;
            margin-bottom: 40px;
        }
        .title_area{
            h2{
                color:$color-little;
            }
        }
        .text_area{
            position: relative;
        }
        .branding_case,.merchants,.service_mockup,.branding_mood{
            display: flex;
            justify-content: center;
            align-items: center;
            // height:200px;
            &::before,&::after{
                content:'';
                position: absolute;
                width:8px;
                height:100%;
                border-top: 1px solid $color-little;
                border-bottom: 1px solid $color-little;
            }
            &::before{
                border-left: 1px solid $color-little;
                left:-8px;
            }
            &::after{
                border-right: 1px solid $color-little;
                right:-8px;
            }
            ul{
                position: relative;
                 &::before,&::after{
                content:'';
                position: absolute;
                width:4px;
                height:50%;
                background-color: $color-pink;
                }
                &::before{
                    left:-36px;
                }
                &::after{
                    right:-36px;
                }
            }
        }
        .branding_mood{
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            li{
                width:800px;
                img{
                    width:100%;
                }
            }
        }
        .branding_case{
            display: flex;
            flex-direction: column;
            align-items: center;
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 80px 0;
            }
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width:800px;
                img{
                    width:72%;
                }
                h3{
                    margin-top: 32px;
                    color:$color-little;
                    text-align: center;
                }
            }
        }
        .service_mockup{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                display: flex;
            justify-content: center;
            align-items: center;
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width:800px;
                img{
                    width:72%;
                }
                h3{
                    margin-top: 32px;
                    color:$color-little;
                    text-align: center;
                }
            }
            }
            .wireframe{
                mix-blend-mode: darken;
            }
        }
    }
    .problem,.ideation,.research,.prototyping,.planning,.issue{
        grid-column-start: 2;
        grid-column-end: 3;
        margin-top: 120px;
        display: grid;
        grid-template-columns: 32% 1fr;
        grid-column-gap: 60px;
        grid-template-rows: auto;
        .title_area{
            grid-column-start: 1;
            grid-column-end: 2;
            h1{
                line-height: 36px;
                font-size: 24px;
                color: $small-title;
            }
        }        
        .gapping{
            margin-bottom: 100px;
        }
        .text_area{
            padding-top: 10px;
            grid-column-start: 2;
            grid-column-end: 3;
            margin-bottom: 80px;
            h3{
                font-size: 15px;
                color: $color-pink;
            }
            p{
                width:60%;
                line-height: 20px;
            }
        }
    }
    .problem{
        .title_area{
            p{
                margin-top: 24px;
                width:80%;
            }
        }
        .text_area{
            ul{
                li{
                    margin-bottom: 80px;
                    img{
                        width:400px;
                        margin-bottom: 24px;
                    }
                    h3{
                        width:400px;
                        line-height: 24px;
                        color:white;
                    }
                    span{
                        color:$color-pink;
                    }
                    .more{
                        font-size: 40px;}
                }
            }
        }
    }
    .ideation{
        height:2000px;
        .text_area{
            ul{
                li{
                    margin-bottom: 60px;
                    h3{
                        margin-bottom: 16px;
                        
                    }
                    h4{
                        width:80%;
                        line-height: 20px;
                    }
                   
                }
            }
        }
        .goal{
            img{
                width:120px;
                margin-bottom: 40px;
            }
            h3{
                color:white;
                line-height: 24px;
                span{color:$color-pink;}
            }
        }
        .ideas{
            ul{
                li{
                    img{
                        width:160px;
                        margin-bottom: 24px;
                        margin-right: 16px;
                    }
                }
            }
        }
    }
    .optimization{
        height: 1100px;
        .title_area{
            h1{
                color: $small-title;
            }
            h3{
                color:$color-pink;
            }
            span{
                font-size: 24px;
                color:white;
            }
            p{
                margin-top: 24px;
            }
        }
    }
    .prototyping{
        height:600px;
        .title_area{
            h3{
                color:$color-pink;
            }
        }
        .text_area{
            display: flex;
            justify-content: center;
            align-items: center;
            ul{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0;
                &::before,&::after{
                    position: absolute;
                    content:'';
                    width:4px;
                    height: 100px;
                    background-color: $color-pink;
                }
                &::before{
                    left:-32px;
                }
                &::after{
                    right:-32px;
                }
                li{
                    margin:0;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &::before,&::after{
                        position: absolute;
                        content:'';
                        width:8px;
                        height:50%;
                        border-top: 1px solid $color-purple;
                        border-bottom: 1px solid $color-purple;
                    }
                    &::before{
                        border-left: 1px solid $color-purple;
                        left:-16px;
                    }
                    &::after{
                        border-right: 1px solid $color-purple;
                        right:-16px;
                    }

                    margin-bottom: 60px;
                    h3{
                        margin-bottom: 24px;
                    }
                }
            }
        }
        
    }
    .planning{
        .title_area{
            h3{
                color: $color-pink;
                margin-bottom: 16px;
            }
            img{
                width:160px;
                margin-top: 40px;
            }
        }
        .gapping{
            margin-bottom: 140px;
        }
        .debounce{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            img{
                align-self: center;
            }
        }
        .php{
            margin-bottom: 80px;
        }
        .text_area{
            ul{
                li{
                    .techniques{
                        width:600px;
                    }
                    .image_manage{
                        width:400px;
                        margin-left: 100px;
                    }
                    .searching_anim{
                            .search_bar{
                                border:1px solid $color-pink;
                                width:240px;
                                height:40px;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                img{
                                    width:28px;
                                    height:28px;
                                    margin:0 4px;
                                }
                                h4{
                                    font-size:11px;
                                    margin-left: 4px;
                                }
                            }
                            .search_result{
                                width:360px;
                                margin-top: 8px;
                                height:60px;
                                ul{
                                    display: flex;
                                    flex-wrap: wrap;
                                    li{
                                        width:80px;
                                        height:40px;
                                        background-color: white;
                                        margin-right: 4px;
                                        margin-bottom: 4px;
                                    }
                                }
                            }
                        }
                }
            }
        }
    }
    .reflection{
        grid-column-start: 2;
        grid-column-end: 3;
        width: 100%;
        .learn{
            display: grid;
            grid-template-columns: 60px 200px 1fr 60px;
            grid-template-rows: 60px 1fr 60px;
            width: 100%;
            height: 240px;
            margin-bottom: 10px;
            background-color: rgba($color: white, $alpha: 0.8);
            .title_area{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                h2{
                    color: $small-title;
                }
            }
            .text_area{
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
                
            }
        }
        .learn{
            h3{
                color:$color-pink;
                margin-bottom: 16px;
            }
            p{
                color:$color-little;
                margin-bottom: 60px;
                width:400px;
            }
        }
        .next{
            height: 400px;
        }
    }
    .end{
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: rgba($color: white, $alpha: 0.8);
        height: 80px;
        margin-bottom: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color:$color-little;
        .go-to{
            display: flex;
            margin-left: 40px;
            .icon_animation_arrow_down{
                transform:rotate(-90deg);
                margin-left: 16px;
                .icon_wrapper{
                    div{
                        &:nth-child(odd){
                            background-color: $color-little!important;
                            animation:scrollDown 0.8s steps(8) infinite;
                        }
                    }
                }
            }
            h4{
                margin-top: 5px;
                color:$color-little;
            }
        }
        .go-to-project{
            margin-left: 80px;
            h4{color:$color-little;}
        }
    }
}