@import '../Color';
@import './project_mixin';
.project_detail{
    display: grid;
    grid-template-columns: 1fr 840px 1fr;
    .banner{
        position: absolute;
        .slide_case{
            @include slide_case;
            justify-content:flex-end;
            align-items: flex-end;
            animation: case_slide_in 1s ease-in-out forwards;
            img{
                width:auto;
                height: 100%;
            }
            @keyframes case_slide_in {
                from{
                    right:-55%;
                }
                to{
                    right:0;
                }
            }
        }
    }
}
.muni{
    .overview,.users,.mockup{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-top: 120px;
        background-color: rgba($color: white, $alpha: 0.72);
    }
    .overview{
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 840px 1fr;
        grid-template-rows: 80px 1fr 80px;
        .text_area{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            display: flex;
            justify-content:space-around;
            align-items: center;
            h3{
                color:#160C4E;
                width:640px;
                line-height: 28px;
            }
            span{
                color:$color-pink;
            }
            img{
                width:100px;
            }
        }
    }
    .users{
        display: grid;
        grid-template-columns: 1fr 840px 1fr;
        grid-template-rows: 80px auto auto;
        .user_info,.persona{
            grid-column-start: 2;
            grid-column-end: 3;
        }
        .user_info{
            grid-row-start: 2;
            grid-row-end: 3;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 64px auto;
            .title_area{
                grid-row-start: 1;
                grid-row-end: 2;
                h2{
                    color:#160C4E;
                }
            }
            .text_area{
                grid-row-start: 2;
                grid-row-end: 3;
                ul{
                    display: grid;
                    grid-template-columns:1fr 1fr 1fr 1fr;
                    grid-template-rows:auto auto;
                    grid-gap: 8px;
                    justify-items: center;
                    align-content: center;
                    li{
                        width:100%;
                        background-color: rgba($color: #160C4E, $alpha: 1);
                        margin-right: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding:24px;
                        transition: 0.4s steps(8);
                        box-shadow: 0px 0px 8px rgba($color: $color-pink, $alpha: 0.3);
                       
                        img{
                            width:80px;
                            height:80px;
                            margin:24px 0;
                        }
                        h3{
                            margin-bottom: 16px;
                            color:$color-pink;
                            text-align: center;
                        }

                        &:hover{
                            transform: scale(1.02);
                            box-shadow: 0px 0px 10px 0.5px $color-pink;
                        }

                        &:last-child{
                            grid-column-start: 1;
                            grid-column-end: 5;
                            padding-bottom: 80px;
                            h2,div{
                                width:80%;
                            }
                            h2{
                                margin-top: 32px;
                                margin-bottom: 40px;
                                color:$color-pink;
                                transition: 0.4s steps(8);
                            }
                            div{
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-column-gap: 40px;
                                grid-row-gap: 40px;
                                h4{
                                    position: relative;
                                    color: white;
                                    &::before{
                                        position: absolute;
                                        content:'';
                                        width:3px;
                                        height:16px;
                                        background-color: $color-pink;
                                        top:0;
                                        left:-16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .persona{
            grid-row-start: 3;
            grid-row-end: 4;
            margin-top: 80px;
            display: flex;
            .left{
                position: relative;
                display: flex;
                align-items: flex-end;
                img{
                    height: 500px;
                    width:auto;
                }
                ul{
                    position: absolute;
                    bottom:24px;
                    left:160px;
                    width:320px;
                    li{
                        width:320px;
                        padding:20px;
                    }
                    .story{
                        height:200px;
                        margin-bottom: 8px;
                        clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 10px, 100% 100%, 0 100%);
                        background-color: rgba($color: white, $alpha: 0.3);
                        backdrop-filter: blur(10px);
                        p{
                            color:#160C4E;
                        }
                    }
                    .title{
                        background-color: rgba($color: $color-purple, $alpha: 0.72);
                        backdrop-filter: blur(10px);
                        &::before{
                            content:'';
                            width:4px;
                            height: 50px;
                            background-color: $color-pink;
                            top:0;
                            left:-10px;
                            position: absolute;
                        }
                        h3{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .right{
                width:540px;
                display: flex;
                justify-content:flex-end;
                align-items: flex-end;
                img{
                    height:auto;
                    width:300px;
                }
            }
        }
    }
    .mockup{
        display: grid;
        grid-template-columns: 1fr 270px 570px 1fr;
        padding-bottom:80px;
        .title_area{
            grid-column-start: 2;
            grid-column-end: 3;
            // margin-top: 80px;
            h1,p{
                color:  #160C4E;
            }
            h3{
                color:$color-pink;
                margin-bottom: 16px;
            }
        }
        .ab_test,.visual_title{
            margin-top: 80px;
        }
        .ab_test{
            h1{
                margin-bottom: 40px;
            }
        }
        .iteration{
            margin-bottom: 120px;
        }
        .text_area{
            grid-column-start: 3;
            grid-column-end: 4;
            margin-bottom: 100px;
            ul{
                display: flex;
                // height:280px;
                justify-content: center;
                align-items: center;
                li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    img{
                        height:260px;
                        width:auto;
                        margin-bottom: 20px;
                    }
                    h4{
                        color:#160C4E;
                    }
                   
                    
                }
                .link{
                    margin:0 32px;
                    position: relative;
                     &::before,&::after{
                            content:'';
                            position: absolute;
                            width:4px;
                            height:41px;
                            top:-22px;
                            border-top: 1px solid $color-purple;
                            border-bottom: 1px solid $color-purple;
                        }
                        &::before{
                            left:-16px;
                            border-right: 1px solid $color-purple;
                        }
                        &::after{
                            right:-16px;
                            border-left: 1px solid $color-purple;
                        }
                    div{
                        border-top: 3px dotted #160C4E;
                        width:12px;
                        height:2px;
                        position: relative;
                        &::before,&::after{
                            content:'';
                            position: absolute;
                            width:5px;
                            height:20px;
                            background-color: $color-pink;
                            top:-12px;
                        }
                        &::before{
                            left:-8px;
                            // clip-path: polygon(2px 0%, 4px 0, 4px 100%, 2px 100%, 0% 18px, 0% 2px);
                            clip-path: polygon(0px 0%,2px 0,4px 2px, 4px 18px, 2px 20px,0px 20px);
                        }
                        &::after{
                            right:-8px;
                            clip-path: polygon(2px 0%, 4px 0, 4px 100%, 2px 100%, 0% 18px, 0% 2px);
                        }
                    }
                }
            }
        }
        .visual{
            grid-column-start: 2;
            
            img{
                width:100%;
                margin-top: 40px;
            }
        }
    }
    .problem,.ideation,.optimization,.prototyping,.planning,.issue,.development{
        grid-column-start: 2;
        grid-column-end: 3;
        margin-top: 120px;
        @include title_text;
        .text_area,.title_area{
            h3{
                color:$color-pink;
            }
        }
        h3{
            line-height: 24px;
        }
    }

    .problem{
        .title_area{
            h3{
                color:$color-pink;
            }
            ul{
                display: flex;
                align-items: center;
                margin-bottom: 40px;
                margin-left: 20px;
                li{
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    position: relative;
                    img{
                        width:80px;
                        height: auto;
                        background-color: rgba($color: $color-purple, $alpha: 0.3);
                        padding:4px;
                        border: 1px solid $color-purple;
                        box-shadow: 0px 0px 4px $color-purple;
                    }
                    &:nth-child(1){
                         &::before{
                             content:'';
                             position: absolute;
                             left:-30px;
                             height:120%;
                             width:10px;
                             border-top:1px solid $color-purple;
                             border-bottom:1px solid $color-purple;
                             border-left:2px solid $color-purple;
                         }
                     }
                    &:nth-child(2){
                        border-left: 4px solid $color-pink;
                        border-right: 4px solid $color-pink;
                        height:40px;
                        width:52px;
                        margin:0 8px;
                        .test_link{
                            width:48px;
                            height:0px;
                            border-bottom:2px dashed $color-pink;
                            margin:0 4px;
                            animation: flashing 1s steps(40) infinite;
                        }
                        @keyframes flashing{
                            0%,100%{opacity: 1;}
                            50%{opacity: 0;}
                        }
                    }
                     &:nth-child(3){
                         &::before{
                             content:'';
                             position: absolute;
                             right:-30px;
                             height:120%;
                             width:10px;
                             border-top:1px solid $color-purple;
                             border-bottom:1px solid $color-purple;
                             border-right:2px solid $color-purple;
                         }
                         &::after{
                             content:'';
                             position: absolute;
                             right:-90px;
                             width:50px;
                             height:1px;
                             border-top: 2px dashed white;
                         }
                     }
                }
            }
            .competitor{
                margin-left: 0;
                li{
                    &:nth-child(2){
                        margin:0 8px;
                    }
                    &:nth-child(3){
                         &::after{
                             right:-110px;
                             width:70px;
                         }
                     }
                }
            }
        }
        .text_area{
            ul{
                margin-left: 40px;
            }
            ul{
                margin-bottom: 60px;
                position: relative;
                &::after{
                    position: absolute;
                    content:'';
                    height:100%;
                    width:16px;
                    left:-20px;
                    top:0;
                    border-top: 1px solid $color-pink;
                    border-left: 1px solid $color-pink;
                    border-bottom: 1px solid $color-pink;
                }
                li{
                    margin-bottom: 64px;
                    margin-left: 16px;
                    h3{
                        color:$color-purple;
                        font-size: 32px;
                    }
                    h4{
                        margin-left: 12px;
                        width:360px;
                        position: relative;
                        line-height: 20px;
                        padding-left:10px;
                        &::before{
                            position: absolute;
                            content:'';
                            top:0;
                            left:-8px;
                            width:3px;
                            height:16px;
                            background-color: $color-pink;
                        }
                    }
                }
            }
        }
    }
    .ideation{
        .title_area{
            h3{
                margin-bottom: 16px;
            }
            span{
                color:white!important;
                font-size:24px;
            }
        }
        .text_area{
            ul{
                li{
                    margin-bottom: 100px;
                    img{
                        height: 120px;
                        width:auto;
                        margin-bottom: 40px;
                    }
                    h3{
                        margin-bottom: 16px;
                    }
                }
            }
        }
    }
    .optimization{
        margin-top: 40px;
        .title_area{
            span{
                color:white!important;
                font-size:24px;
            }
            h3{
                line-height: 28px;
            }
        }
        .pop_wrapper{
            ul{
                display: flex;
                position: relative;
                height:100px;
                align-items: center;
                &::before,&::after{
                    content:'';
                    width:8px;
                    height:100%;
                    border-top:1px solid $color-purple;
                    border-bottom:1px solid $color-purple;
                }
                &::before{
                    border-left:1px solid $color-purple;
                }
                &::after{
                    border-right:1px solid $color-purple;
                }
                li{
                    position: relative;
                    img{
                        height:64px;
                        width:auto;
                        border:1px solid $color-purple;
                        box-shadow: 0px 0px 8px $color-purple;
                    }
                    &:last-child{  
                        &::before,&::after{
                            content:'';
                            position: absolute;
                        }
                        &::after{
                            left:20px;
                            width:32px;
                            height:2px;
                            border-top: 2px dashed white;
                        }
                    }
                }
                .link{
                    margin:0 8px;
                    width:16px;
                    height:2px;
                    border-top:2px dashed white;
                    &::before,&::after{
                        content:'';
                        top:-5px;
                        position: absolute;
                        width:4px;
                        height:8px;
                        background-color: $color-pink;
                    }
                    &::before{
                        left:-4px;
                    }
                    &::after{
                        right:-4px;
                    }
                }
            }
        }
        .pop_test{
            margin-top: 80px;
        }
        .pop_test_content{
            ul{
                padding-left:32px;
                position: relative;
                &::before{
                    position: absolute;
                    content:'';
                    top:-5%;
                    left:-4px;
                    width:10px;
                    height:110%;
                    border-left: 1px solid $color-pink;
                    border-top: 1px solid $color-pink;
                    border-bottom: 1px solid $color-pink;
                }
                li{
                    margin-bottom: 80px;
                    h3{
                        margin-bottom: 16px;
                    }
                    img{
                        width:120px;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
    .prototyping{
        .title_area{
            h1{
                margin-bottom: 24px;
            }
            h3{
                margin-bottom: 16px;
            }
        }
        .code_prototype{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 100px;
            position: relative;
            img{
                width:120px;
                &:last-child{
                    border:1px solid $color-purple;
                    box-shadow: 0px 0px 8px $color-purple;
                }
            }
            div{
                width:40px;
                height: 2px;
                position: relative;
                margin:0 32px;
                &::before,&::after{
                    position: absolute;
                    content:'';
                    width:4px;
                    height:140px;
                    border-top: 1px solid $color-purple;
                    border-bottom: 1px solid $color-purple;
                    top:-70px;
                }
                &::before{
                    border-right: 1px solid $color-purple;
                    left:-16px;
                }
                &::after{
                    border-left: 1px solid $color-purple;
                    right:-16px;
                    height:224px;
                    top:-112px;
                }
                
                div{
                    width:100%;
                    height:100%;
                    position: relative;
                    animation:flashing_top 2s steps(10) infinite;
                    animation-delay: 0.8s;
                    margin:0;

                    &::before,&::after{
                        width:3px;
                        height:20px;
                        background-color: $color-pink;
                        top:-12px;
                        border:none;
                    }
                    &::before{
                        left:-4px;
                        animation:flahsing_psydeo 2s steps(10) infinite;
                    }
                    &::after{
                        right:-4px;
                        animation:flahsing_psydeo 2s steps(10) infinite;
                        animation-delay: 1.6s;
                    }
                }
                @keyframes flashing_top {
                    0%,100%{
                        border-top:2px dashed white;
                    }
                    50%{
                        border-top:2px dashed rgba($color: white, $alpha: 0.4)
                    }
                }
                @keyframes flahsing_psydeo{
                    0%,100%{
                       opacity:1;
                    }
                    50%{
                       opacity:0.4;
                    }
                }
            }
        }
        .final_prototype{
            margin-top: 60px;
            margin-bottom: 24px;
        }
    }
    .reflection{
        grid-column-start: 2;
        grid-column-end: 3;
        width: 100%;
        .learn,.next{
            display: grid;
            grid-template-columns: 60px 1fr 60px;
            grid-template-rows: 60px 1fr 60px;
            width: 100%;
            height: 400px;
            margin-bottom: 10px;
            background-color: rgba($color: white, $alpha: 0.8);
            .text_area{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                h2{
                    color: #160C4E;
                }
            }
        }
        .learn{
        }
        .next{
            
        }
    }
    .end{
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: rgba($color: white, $alpha: 0.8);
        height: 80px;
        margin-bottom: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color:#160C4E;
        .go-to{
            display: flex;
            margin-left: 40px;
            .icon_animation_arrow_down{
                transform:rotate(-90deg);
                margin-left: 16px;
                .icon_wrapper{
                    div{
                        &:nth-child(odd){
                            background-color: #160C4E!important;
                            animation:scrollDown 0.8s steps(8) infinite;
                        }
                    }
                }
            }
            h4{
                margin-top: 5px;
                color:#160C4E;
            }
        }
        .go-to-project{
            margin-left: 80px;
            h4{color:#160C4E;}
        }
    }
}