.project_detail{
    display: grid;
    grid-template-columns: 1fr 840px 1fr;
    .overview,.development,.users,.mockup{
        grid-column-start: 1;
        grid-column-end: 4;
        margin-top: 120px;
        background-color: rgba($color: white, $alpha: 0.72);
    }
    .overview{
        height: 640px;
        display: grid;
        grid-template-columns: 1fr 840px 1fr;
        grid-template-rows: 80px 1fr 80px 1fr 40px;
        .text_area{
            grid-column-start: 2;
            grid-column-end: 3;
            h2,p{
                color:  #160C4E;
            }
            p{
                font-size: 14px;
                margin-top: 24px;
                line-height: 20px;
                width: 60%;
            }
            &:first-child{
                grid-row-start: 2;
                grid-row-end: 3;
            }
            &:last-child{
                grid-row-start: 4;
                grid-row-end: 5;
            }
        }
    }
    .development{
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 840px 1fr;
        grid-column-gap: 40px;
        grid-template-rows: 80px 1fr 80px;
        .text_area{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
            display: flex;
            justify-content: flex-start;
            align-items:flex-start;
            .text{
                width:600px;
                h2,p{
                    color:  #160C4E;
                }
            }
            img{
                width:360px;
                height: auto;
            }
        }
        
    }
    .users{
        height: 400px;
    }
    .mockup{
        height:800px;
    }
    .problem,.ideation,.optimization,.prototyping,.planning,.issue{
        grid-column-start: 2;
        grid-column-end: 3;
        margin-top: 120px;
        h1{
            width:40%;
            line-height: 40px;
        }
    }
    .problem{
        height:400px;
    }
    .ideation{
        height:400px;
    }
    .optimization{
        height:400px;
    }
    .prototyping{
        height:600px;
    }
    .planning{
        height:600px;
    }
    .issue{
        height:600px;
    }
    .reflection{
        grid-column-start: 2;
        grid-column-end: 3;
        width: 100%;
        .learn,.next{
            display: grid;
            grid-template-columns: 60px 1fr 60px;
            grid-template-rows: 60px 1fr 60px;
            width: 100%;
            height: 400px;
            margin-bottom: 10px;
            background-color: rgba($color: white, $alpha: 0.8);
            .text_area{
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 3;
                h2{
                    color: #160C4E;
                }
            }
        }
        .learn{
        }
        .next{
            
        }
    }
    .end{
        grid-column-start: 2;
        grid-column-end: 3;
        background-color: rgba($color: white, $alpha: 0.8);
        height: 80px;
        margin-bottom: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color:#160C4E;
        .go-to{
            display: flex;
            margin-left: 40px;
            .icon_animation_arrow_down{
                transform:rotate(-90deg);
                margin-left: 16px;
                .icon_wrapper{
                    div{
                        &:nth-child(odd){
                            background-color: #160C4E!important;
                            animation:scrollDown 0.8s steps(8) infinite;
                        }
                    }
                }
            }
            h4{
                margin-top: 5px;
                color:#160C4E;
            }
        }
        .go-to-project{
            margin-left: 80px;
            h4{color:#160C4E;}
        }
    }
}