@import "./Color";
@import "./Size";
@import "./Fonts";
@import "./Mixin";

.home{
    width:100%;
    position: relative;
    .sec_home{
        width:100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items:center;

        .wrapper_heading{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
            top:32%;
            // position: fixed;
            transition: top 1s ease-in-out;
            @include phone{
                width:100vw;
            }
            h1{
                width:100%;
                text-align: center;
                font-size: 100px;
                margin-bottom: 8px;
                color:transparent;
                position: relative;
                font-family: orbitron;
                font-weight: bolder;
                animation: glitch-skew 1.5s infinite steps(20) alternate-reverse;
                @include phone{
                    font-size: 48px;
                    margin-bottom: 24px;
                    width:calc(100vw - 12px);
                }
                &::before{
                    @include glitchCopy;
                    left: 1px;
                    text-shadow: -2px 1px 4px rgba($color:#ff00c1 ,$alpha: 0.5);
                    clip: rect(44px, 450px, 56px, 0);
                    animation: glitch-anim 3s infinite linear alternate-reverse;
                }
                &::after {
                    @include glitchCopy;
                    left: -1px;
                    text-shadow: -2px 1px 4px rgba($color: #00fff9  ,$alpha: 0.8), 1px 1px 4px rgba($color:#ff00c1 ,$alpha: 0.6);
                    animation: glitch-anim2 1.5s infinite linear alternate-reverse;
                }
                @keyframes glitch-anim {
                    $steps: 20;
                    @for $i from 0 through $steps {
                        #{percentage($i*(1/$steps))} {
                        clip: rect(random(100)+px, random(200) + px, (100 - random(200))+px, random(120) + px);
                                transform: skew((random(360) - 180) + deg);
                        }
                    }
                    }

                    @keyframes glitch-anim2 {
                    $steps: 10;
                    @for $i from 0 through $steps {
                        #{percentage($i*(1/$steps))} {
                        clip: rect(random(100)+px, random(200) + px, (100 - random(1200))+px, random(120) + px);
                                transform: skew((180 - random(200)) + deg);
                        }
                    }
                    }

                    @keyframes glitch-skew {
                    $steps: 20;
                    @for $i from 0 through $steps {
                        #{percentage($i*(1/$steps))} {
                        transform: skew((random(2) - 1) + deg)translate((random(4) - 2)+px,(random(4) - 2)+px);
                        }
                    }
                    }
            }
            .title-sub{
                display:flex;
                justify-content: center;
                align-items: center;
                h4{
                text-align: center;
                white-space: nowrap;
                
                &:nth-child(odd){
                    line-height: 32px;
                    filter:blur(1px);
                    font-size: 16px;
                    font-family: TextFont;
                }
            }
                div.flick_right{
                    margin:0 32px;
                    @include phone{
                          margin:0 16px;
                        }
                    .title{
                        width:90%;
                        font-size: 22px;
                        line-height: 24px;
                        filter:blur(0px);
                        color:rgba($color: $color-pink, $alpha: 1);
                        @include phone{
                            white-space: pre-wrap;
                            font-size: 20px;
                            margin: 0!important;
                            padding:0;
                        }
                    }
                }
                .flicking{
                        animation:flick_right 0.35s infinite;
                        height: 24px;
                        padding:2px;
                        @include phone{
                            margin: 0!important;
                        }
                    }
                    @keyframes flick_right {
                        from{
                            border-right:2px solid white;
                        }
                        to{
                            border-right:2px solid transparent;
                        }
                    }
            }
        }
    }
    .sec_list{
        display: grid;
        grid-template-columns: 1fr 1000px 1fr;
        padding-top: 80px;
        // margin-top: 100vh;
        @include phone{
            grid-template-columns:$gridtempcolumn-phone;
        }
        ul{
            grid-column-start: 2;
            grid-column-end: 3;
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                margin-bottom: 240px;
                width:auto;
                cursor:cell;
                &:first-child{
                    margin-top: 80px;
                }
                &:nth-child(even){
                    flex-direction: row-reverse;

                    @include phone{
                        flex-direction: column;
                    }

                    .wrapper_project_info{
                        margin-left: 0;
                    }
                }

                @include phone{
                    flex-direction: column;
                    margin-bottom: 160px;
                }

                .project_image{
                    width:320px;
                    height: 400px;
                    position: relative;
                    background-size: cover;
                    z-index: 1;
                    overflow: hidden;
                    clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
                    img{
                        height:100%;
                        width:auto;
                        
                    }
                    @mixin img_temp {
                        content:'';
                        position: absolute;
                        top:0;
                        left:0;
                        width:100%;
                        height: 100%;
                    }
                    &::before{
                        @include img_temp;
                        z-index: 0;
                        background-image: linear-gradient(90deg,rgba($color: $color-pink, $alpha: 0.15),rgba($color: $color-purple, $alpha: 0.15));
                        background-position: 0% 0%;
                        box-shadow: 0px 0px 0px 0px rgba($color: $color-pink, $alpha: 1);
                    }
                    &::after{
                        @include img_temp;
                        z-index: 99;
                        background: linear-gradient(90deg,rgba($color: $color-pink, $alpha: 0.15),rgba($color: $color-purple, $alpha: 0.15));
                        background-size: 300% 100%;
                        background-position: 0% 0%;
                        transition:0.4s;
                    }
                }
                &:hover{
                    .project_image{
                        &::after{
                            animation: scan_anim 2s ease alternate infinite;
                            backdrop-filter: brightness(1.1);
                            box-shadow: 0px 0px 8px #ff00c1;
                        }
                        @keyframes scan_anim {
                            0%{
                                background-position: 0% 0%;
                            }
                            30%{
                                background-position: 200% 0%;
                            }
                            50%{
                                background-position: 120% 0%;}
                            60%{
                                background-position: 200% 0%;
                            }
                            70%{
                                background-position: 0% 0%;}
                            90%{
                                background-position: 200% 0%;}
                            100%{
                                
                                background-position: 0% 0%;
                            }
                        }
                       
                    }
                }
                .wrapper_project_info{
                    width:440px;
                    height: 400px;
                    margin-left: 64px;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    @include phone{
                        margin-left: 0;
                        width:360px;
                        align-items: center;
                    }

                    .wrapper_order{
                        display: flex;
                        justify-content: center;
                        align-items:flex-end;
                        p{
                            font-size: 24px;
                            line-height: 40px;
                            margin-bottom: 10px;
                        }
                        h1{
                            margin: 40px 0px 0px 0px;
                            transition:0.2s steps(4);
                            font-size: 40px;
                            filter: blur(2px);
                        }
                    }
                    h3{
                            margin-top: 0px;
                            width:80%;
                            line-height: 28px;
                            @include phone{
                                text-align: center;
                            }
                        }
                    ul{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        margin-bottom: 160px;
                         @include phone{
                                margin-bottom: 60px;
                                align-items: center;
                                justify-content: center;
                            }
                        li{
                            margin-bottom: 0;
                            margin-right: 10px;
                            margin-top: 0;
                            margin-bottom: 8px;
                            width:auto;
                            background-color: rgba($color: $color-purple, $alpha: 0.4);
                            transition: 0.3s ease;
                            transition-delay: 0.2s;
                            @include phone{
                                margin:4px 4px;
                            }
                            h4{
                                white-space: nowrap;
                                padding:6px 10px;
                                margin:0px 2px;
                                font-size: 9px;
                            }
                        }
                    }
                    .see_more{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        transition: 0.3s ease-in-out;
                        transition-delay: 0.1s;
                        transform-origin:  bottom left;
                        .icon_animation_arrow_down{
                            transform: rotate(-90deg);
                            margin-left: 16px;
                        }
                        
                    }
                }
                &:hover{
                    .wrapper_project_info{
                        .wrapper_order{
                            h1{
                                margin: 40px 16px 0px 16px;
                                font-size: 60px;
                                animation: glitch-anim 1s steps(10) infinite alternate-reverse;
                            }
                        }
                        ul{
                            li{
                                background-color: rgba($color: $color-purple, $alpha: 0.7);
                                box-shadow: 0px 0px 8px 3px rgba($color: $color-purple, $alpha: 0.8);
                            }
                        }
                        .see_more{
                            transform: scale(1.8);
                            h4{
                                text-shadow: 0px 0px 3px white;
                            }
                            .icon_animation_arrow_down{
                                .icon_wrapper{
                                    div{
                                        &:nth-child(odd){
                                            animation:scrollDown 0.8s steps(8) infinite;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}