@import './Color';
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba($color:#160C4E, $alpha: 1); 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-pink; 
  box-shadow: 0px 0px 8px $color-pink;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: $color-purple, $alpha: 0.2);
}