
@import "./Color";
@import "./Size";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

body{
    width: 100%;
}

#app{
    width: 100%;
    .bg{
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 0;
        pointer-events: none;
    }
    .icon{
        width:24px;
        height: 24px;
        cursor: pointer;
    }
}

footer{

}